DATABASE_URL=postgresql://user:password@localhost:5432/motive_sd
JWT_SECRET=supersecrettoken
EMAIL_USER=yourmail@gmail.com
EMAIL_PASS=yourpassword
AWS_ACCESS_KEY_ID=youraccesskeyid
AWS_SECRET_ACCESS_KEY=yoursecretaccesskey
AWS_REGION=ap-southeast-1
AWS_S3_BUCKET=motive-sd...